<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.senai.sp.estacionafacil">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CadastrarMensalistaActivity" />
        <activity android:name=".CadastrarPrecoActivity" />
        <activity android:name=".SaidaEstacionamento" />
        <activity android:name=".Estacionados" />
        <activity android:name=".Saida" />
        <activity android:name=".ListaPreco" />
        <activity android:name=".ListaMensalista" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CadastrarMovimentoActivity" />
        <activity android:name=".ListaVeiculosMensalista" />
        <activity android:name=".CadastrarVeiculoMensalistaActivity"></activity>
    </application>

</manifest>